node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# TS / Vite build artifacts
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
