# Created by https://www.toptal.com/developers/gitignore

/.bundle/
/log/*
/tmp/*
/storage/*
!/log/.keep
!/tmp/.keep
!/storage/.keep
/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key

# Ignore .env files
.env
.env.*
!.env.example

# Coverage
/coverage/

# RSpec persistence
/spec/examples.txt
